VITE_GEMINI_API_KEY=AIzaSyDUMeRAAlqH-Xe9Pxn1LnAGsCQDQ0Zm79s
VITE_GEMINI_MODEL=gemini-2.5-flash
VITE_GOOGLE_DRIVE_UPLOAD_URL=
VITE_APP_ID=projektove-vykaznictvi
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=
